
{% extends "base.html" %}

{% block body %}

<style type="text/css">


.montexte{

   
    h5{
        color:green;
        margin: 15px; 
    }
    h6{
        margin: 35px;
    }
}

</style>



<body>


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Savoir plus sur nos offres</h1>
            <nav aria-label="breadcrumb animated slideInDown">
               
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
<div class="montexte" >
    <h5>1.Panaux solaires:</h5>
    <h6><p>Optez pour l’énergie solaire et réduisez vos 
    factures tout en préservant l’environnement ! 
    Nous concevons, installons et entretenons des systèmes photovoltaïques
     performants, adaptés à vos besoins et à votre budget. </h6>
    <h5>2.Réglementation & conformité </p></h5>

<h6> Nous vous assurons une mise en conformité totale avec les normes 
    électriques, environnementales et de sécurité. Nos experts vous accompagnent dans toutes les démarches de certification et
     d’audit pour des installations fiables et certifiées.</h6>

 <h5>3.Suivi, pilotage et réalisation</h5>
<h6> De la conception à la mise en service, nous pilotons votre projet de A à Z. Un interlocuteur unique pour 
    un suivi rigoureux, une coordination efficace et un respect des délais garantis.</h6>


  <h5>4.Groupes électrogènes </h5>
  <h6>Nous proposons des solutions d’alimentation de secours robustes. Installation, maintenance et dépannage de groupes 
    électrogènes pour assurer une continuité énergétique en toutes circonstances. </h6>


   <h5>5.Étude des nouveaux projets </h5>
<h6>Confiez-nous vos idées ! Nous réalisons une analyse complète de faisabilité technique et économique, et vous proposons
     des solutions innovantes et rentables, parfaitement adaptées à votre activité. </h6>


    <h5>6.Conseil en optimisation énergétique </h5>
    <h6>Réduisez votre consommation et augmentez votre efficacité ! Nous réalisons des audits énergétiques et mettons en place des
         stratégies personnalisées pour optimiser vos coûts et votre performance énergétique. </h6>



</div>   

</body>









    {% endblock %}